{{> header}}
<main>
    <div class="alert alert-success" role="alert" id="infoBox" style="display: none;">
        This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert" id="errorBox" style="display: none;">
        This is a danger alert—check it out!
    </div>
    <section class="container">
        {{#if loggedIn}}
        <h2>You are already logged in.</h2>
        {{else}}
        <h2>Login</h2>
        <form action="#/login" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="username">Username</label>
                        <input class="form-control" id="username" name="username" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="password">Password</label>
                        <input class="form-control" id="password" name="password" type="password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
            </div>
        </form>
        {{/if}}
    </section>
</main>
{{> footer}}