<h1>Here is your book information:</h1>
<div class="book" data-id="{{book.id}}">
    <h2>Title: {{book.title}}</h2>
    <h2>Author: {{book.author}}</h2>
    <h3>Release date: {{book.releaseDate}}</h3>
</div>