{{> header}}
<main>
    <div class="alert alert-success" role="alert" id="infoBox" style="display: none;">
        This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert" id="errorBox" style="display: none;">
        This is a danger alert—check it out!
    </div>
    <section class="container">
        {{#if loggedIn}}
        <div class="row space-top">
            <div class="col-md-12">
                <h1>Create New Furniture</h1>
                <p>Please fill all required fields.</p>
            </div>
        </div>
        <form action="#/furniture/create" method="POST">
            <div class="row space-top">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="new-make">Make</label>
                        <input class="form-control" id="new-make" name="make" type="text">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <div class="form-group has-success">
                        <label class="form-control-label" for="new-model">Model</label>
                        <input class="form-control" id="new-model" name="model" type="text">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <div class="form-group has-danger">
                        <label class="form-control-label" for="new-year">Year</label>
                        <input class="form-control" id="new-year" name="year" type="number">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="new-description">Description</label>
                        <input class="form-control" id="new-description" name="description" type="text">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="new-price">Price</label>
                        <input class="form-control" id="new-price" name="price" type="number">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="new-image">Image</label>
                        <input class="form-control" id="new-image" name="image" type="text">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="new-material">Material (optional)</label>
                        <input class="form-control" id="new-material" name="material" type="text">
                        <div class="form-control-feedback" style="display: none;"></div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </div>
        </form>
        {{else}}
        <h2>You need to login first.</h2>
        {{/if}}
    </section>
</main>
{{> footer}}